body {
  background-color: #c9e9f6;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  color: #262626;
}

h1 {
  /* text-align: center; */
  font-family: 'Roboto Mono', monospace;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

.article {
background-color: #fff;
margin: 15px;
padding: 10px;
}

.headlineURL {
  color: #262626;
}

.headlineURL:hover {
  text-decoration: underline;
}




